img {
  width: 50%;
  height: auto;
}

h1 {
  color: blue;
}

h2 {
  color: #170534;
}

.custom-heading {
  font-size: 40px;
  font-weight: bold;
  color: antiquewhite;
}

.like-icon {
      cursor: pointer;
    }

.activo {
  background-color: #030303;
  color: #ffffff;
  font-weight: bold;
}

header {background-size: cover;
            background-position: center;
            padding: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
header a.decharla {
            color: #ffffff;
            font-size: 36px;
            background: linear-gradient(to right, #ff00ff, #00ffff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            font-weight: bold;
            animation: pulse 2s infinite;
        }
footer {
            background-color: #2e213d;
            padding: 3px;
            text-align: center;
        }

footer p {
            margin: 3px;
            color: #030303;
        }

@keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
.custom-bg {
        background-color: #a092af;
        padding: 15px;
    }
.chat-container {
      max-width: 500px;
      margin: 0 auto;
      background-color: #e1d7e9;
      padding: 20px;
      border-radius: 5px;
    }
.chat-title {
      background-color: #9b59b6;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }
.chat-message {
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      position: relative;
    }

.message-creator {
      font-weight: bold;
      color: #007bff;
    }
.message-date {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 12px;
      color: #777;
    }

.no-messages {
      color: #777;
      font-style: italic;
    }

.logout-link {
            position: fixed;
            top: 0;
            right: 0;
            margin: 20px;
        }
