{% extends "DeCharla/base.html" %}
{%  load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Página de Configuración' %}</title>
</head>
<body>
{% block body %}
    <h2 class="text-center mb-4" style="text-transform: uppercase; background-color: #800080; color: white; padding: 10px;">{% trans 'PÁGINA DE CONFIGURACIÓN' %}</h2>
    <form class="mt-4" method="post">
    {% csrf_token %}

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                {{ form.as_p }}
            </div>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" style="background-color: #8650be;">{% trans 'Guardar' %}</button>
    </div>
    </form>

    <div class="mt-4">
    <h2 style="color: purple;">{% trans 'Configuración actual' %}</h2>
    <div class="row">
        <div class="col-md-6">
            <p><strong>{% trans 'Nombre' %}:</strong> {{ configuracion.nombre }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>{% trans 'Tamaño de fuente' %}:</strong> {{ configuracion.get_tamano_fuente_display }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>{% trans 'Tipo de fuente' %}:</strong> {{ configuracion.get_tipo_fuente_display }}</p>
        </div>
    </div>
    </div>


{% endblock %}
</body>
</html>