{% extends "DeCharla/base.html" %}
{%  load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'PÁGINA DE AYUDA' %}</title>
</head>
<body>
{% block body %}
    <h2 class="text-center mb-4" style="text-transform: uppercase; background-color: #800080; color: white; padding: 10px;">{% trans 'PÁGINA DE AYUDA' %}</h2>

    <p>{%  trans 'Hola, si estás aquí es porque necesitas algo de ayuda. Espero que el siguiente resumen te ayude, pero si necesitas más asistencia, no dudes en contactarme vía email (hafsaeljauhari@gmail.com).' %}.</p>

    <h2>1.{% trans '¿En qué consiste la aplicación?' %}</h2>
    <p>{% trans 'La aplicación DeCharla consiste en un chat en el que cualquier persona puede escribir mensajes. El chat se estructura por salas que pueden tratar diversos temas, hobbies, aspiraciones... o simplemente ser de libre mensajería.' %}</p>

    <h2>2.{% trans '¿Quién puede crear salas?' %}</h2>
    <p>{% trans 'Tal y como está configurada la aplicación,  pueden crear salas todos aquellos usuarios autenticados a través de una contraseña válida proporcionada por el administrador de la aplicación.' %}.</p>

    <h2>3.{% trans '¿Quién puede escribir mensajes?' %}</h2>
    <p>{% trans 'Tal y como está configurada la aplicación,  pueden crear salas todos aquellos usuarios autenticados a través de una contraseña válida proporcionada por el administrador de la aplicación.' %}.</p>

    <h2>4. {% trans '¿Quién creó la aplicación?' %}</h2>
    <p>{% trans 'La aplicación fue creada por la estudiante Hafsa El Jauhari Al Jaouhari durante el periodo de Mayo/Junio de 2023.' %}</p>
{% endblock %}

</body>
</html>
