{% extends "DeCharla/base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'PÁGINA SALA' %}</title>
</head>

<body>
{% block body %}
    <div class="chat-container">
    <h2 class="chat-title">{{ sala }}</h2>

    {% if mensajes_list %}
    <ul>
      {% for mensaje in mensajes_list %}
        <li class="chat-message">
          <span class="message-creator">{{ mensaje.creador }}</span>:

          {% if mensaje.es_url %}
            <img src="{{ mensaje.contenido }}" alt="Imagen">
          {% else %}
            {{ mensaje.contenido }}
          {% endif %}

          <span class="message-date">{{ mensaje.fecha }}</span>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p class="no-messages">{% trans 'No hay mensajes añadidos' %}</p>
    {% endif %}
  </div>


    <h2 style="color: #170534;">{% trans  'Añadir mensaje' %}</h2>

    <form class="mt-4" method="post" action="{% url 'manejar_salas' sala=sala %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        {{ form.as_p }}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" style="background-color: #683c9b; border-color: #170534;">{% trans  'Añadir mensaje' %}</button>
      </div>
    </form>

{% endblock %}
</body>
</html>