{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% trans 'PÁGINA DE LOGIN' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'DeCharla/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'DeCharla/css/bootstrap.min.css' %}">

</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'DeCharla/stylelogin.css/' %}">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h1 class="text-center text-primary">DeCharla</h1>
                <h2 class="text-center text-secondary mt-3">{%  trans 'Bienvenido, introduzca una contraseña válida para autenticarse por favor.' %}</h2>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password" class="form-label">{%  trans  'Contraseña' %}:</label>
                        <input type="password" class="form-control" id="password" name="contrasena">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{%  trans 'Validar' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}" />
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <noscript><input type="submit" value="Go"></noscript>
        </form>
    </div>
    <script src="{% static 'DeCharla/js/bootstrap.min.js' %}"></script>
</body>
</html>
